*.pdb
*.log
*.obj
*.ilk
*.exe
*.tlog
*.suo
*.ipch
*idb
*.recipe
*db-shm
*db-wal
*opendb
gazebo_world_creator/.idea/gazebo_world_creator.iml
gazebo_world_creator/.idea/inspectionProfiles/profiles_settings.xml
gazebo_world_creator/.idea/modules.xml
gazebo_world_creator/.idea/workspace.xml
gazebo_world_creator/main.py
gazebo_world_creator/.idea/vcs.xml
gazebo_world_creator/.idea/misc.xml
gazebo_world_creator/RoboBoat_0.world
*.ipt
*.mtl
*.iam
2022_Boat_Code/Mega_Kill/libraries/Radio/.vs/ProjectSettings.json
2022_Boat_Code/Mega_Kill/libraries/Radio/.vs/Radio/v17/Browse.VC.db
2022_Boat_Code/Mega_Kill/libraries/Radio/.vs/slnx.sqlite
